/* Font Styling is not included here */

.header-logo {
  margin-top: 20px;
}

.author-img {
  margin : 0 auto;
}

.header-txt {
  text-align: right;
}

.container {
  position: relative;
}

footer {
  bottom: 0;
}

.custom {
  color: white;
  font-family: "moonbold";
}

p {
  color: white;
  font-family: "moonlight";
}

.footer-text {
  font-family: "moonlight";
  font-size: 12px;
}
.highlight, a {
  color: rgb(253,153,31);
}

.description {
  font-size: 18px;
}

.forbody {
  background: rgb(33, 35, 34);
}

.hr {
  border-top: 2px solid rgb(253,153,31);
}
